<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <!-- Ng View -->
  <div class="view-animate-container">
    <div ng-view class="view-animate"></div>
  </div>
  <!-- Ng View End -->

<% else %>

  <%= link_to "Sign up", new_user_registration_path  %>
  <%= link_to "Login", new_user_session_path  %>

<% end %>