<h1>Death Notes Account Created Notification</h1>

<p>
  <%= @greeting %>, someone you know has left you a death note on our website.<br>
  In order to find out who it is, please visit our website and login with:<br>
  <br>
  Your Email: <%= @email %><br>
  Password: <%= @generated_password %><br>
</p>
