<!-- New Message Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="test">To</label><br>
            <input class="form-control" id="test" type="hidden" placeholder="Enter email" ui-select2="select2Options" ng-model="recipient_email_list">
          </div>
          <div class="form-group">
            <label for="message_title">Title</label><br>
            <input class="form-control" id="message_title" type="text" placeholder="Enter title" ng-model="title"/>
          </div>
          <div class="form-group">
            <label for="message_content">Content</label><br>
            <textarea class="form-control" id="message_content" placeholder="Enter content" rows="3" ng-model="content"/></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="composeMessage()">Send</button>
      </div>
    </div>
  </div>
</div> <!-- New Message Modal End -->