<!-- Nav Bar -->
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header col-md-2">
        <a class="navbar-brand" href="/">Death Notes</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="1212" class="dropdown-toggle nopadding" data-toggle="dropdown">{{ current_user_firstname }}</a>
              <ul class="dropdown-menu" role="menu">
                <% if current_user.uid.nil? %>
                  <li><%= link_to "Connect to Facebook", user_omniauth_authorize_path(:facebook) %></li>
                <% end %>
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            </li>
            <li><a class="" href="121212"> {{ current_user_credit }} credit</a></li>
        </ul>
        <form class="navbar-form">
          <input type="text" placeholder="Start typing to filter.." class="form-control" ng-model="searchText" />
        </form>
      </div>
    </div>
  </nav> <!-- Nav Bar End -->

<!-- Side Bar -->
    <div class="col-md-2 sidebar">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#newMessageModal" ng-click="initializeMessage()">New Death Note</button>

      <ul class="nav nav-sidebar">
        <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#/">Inbox</a></li>
        <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#/sent">Sent</a></li>
        <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)" ><a href="#/drafts">Drafts</a></li>
      </ul>
    </div>
<!-- Side Bar End -->

<% if user_signed_in? %>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
    asdasdasdasd
  </md-sidenav>
  <!-- Nav Bar -->
  <md-content>
    <md-toolbar class="navbar navbar-fixed-top" role="navigation" md-theme="indigo">
      <div layout="row">
        <div flex="20">
          <a class="navbar-brand" href="/">Death Notes</a>
        </div>
        <div flex>
          <form style="padding: 0px; margin:0px;">
            <div class="row">
              <md-text-float label="Search" ng-model="searchText"></md-text-float>
            </div>
          </form>
        </div>
        <div flex="20">
          <li class="dropdown">
                <a href="1212" class="dropdown-toggle nopadding" data-toggle="dropdown">{{ current_user_firstname }}</a>
                <ul class="dropdown-menu" role="menu">
                  <% if current_user.uid.nil? %>
                    <li><%= link_to "Connect to Facebook", user_omniauth_authorize_path(:facebook) %></li>
                  <% end %>
                  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              </li>
              <li><a class="" href="121212"> {{ current_user_credit }} credit</a></li>
        </div>
      </div>
    </md-toolbar>
  </md-content><!-- Nav Bar End -->

  <div layout="row">
    <div flex="20">
      <div layout="column" layout-fill>
        <section layout="row" flex>
          <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
          <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
          asdasdasdasdasd
          asdasda
          sdasdasdasd
          asdasdasd
        </md-toolbar>
      </md-sidenav>
    </section>
  </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div ng-include="'topbar.html'"></div>

      <div ng-include="'sidebar.html'"></div>

      <!-- Main Window -->
      <div class="col-md-10 col-md-off-2 main">

        <%= yield %>

      </div> <!-- Main Window End -->
    </div>
  </div>

  <!-- New Message Modal -->
  <div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">New message</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="test">To</label><br>
              <input class="form-control" id="test" type="hidden" placeholder="Enter email" ui-select2="select2Options" ng-model="recipient_email_list">
            </div>
            <div class="form-group">
              <label for="message_title">Title</label><br>
              <input class="form-control" id="message_title" type="text" placeholder="Enter title" ng-model="title"/>
            </div>
            <div class="form-group">
              <label for="message_content">Content</label><br>
              <textarea class="form-control" id="message_content" placeholder="Enter content" rows="3" ng-model="content"/></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="composeMessage()">Send</button>
        </div>
      </div>
    </div>
  </div> <!-- New Message Modal End -->

  <!-- Edit Message Modal -->
  <div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit message</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="test">To</label><br>
              <input class="form-control" id="test" type="hidden" placeholder="Enter email" ui-select2="select2Options" ng-model="recipient_email_list">
            </div>
            <div class="form-group">
              <label for="message_title">Title</label><br>
              <input class="form-control" id="message_title" type="text" placeholder="Enter title" ng-model="title"/>
            </div>
            <div class="form-group">
              <label for="message_content">Content</label><br>
              <textarea class="form-control" id="message_content" placeholder="Enter content" rows="3" ng-model="content"/></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="editMessage()">Edit</button>
        </div>
      </div>
    </div>
  </div> <!-- New Message Modal End -->

<% else %>

  <%= yield %>

<% end %>