<!-- Top Bar -->
<div class="col-md-12 topbar">
  <div class="col-md-2">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="javascript:void(0)">Action</a></li>
      <li><a href="javascript:void(0)">Another action</a></li>
      <li><a href="javascript:void(0)">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="javascript:void(0)">Separated link</a></li>
    </ul>
  </div>
  <div class="col-md-7">
    <div class="checkbox">
      <label>
        <input type="checkbox">
      </label>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="pagination pull-right">
      <li class="disabled"><a href="javascript:void(0)">«</a></li>
      <li class="active"><a href="javascript:void(0)">1</a></li>
      <li><a href="javascript:void(0)">2</a></li>
      <li><a href="javascript:void(0)">3</a></li>
      <li><a href="javascript:void(0)">4</a></li>
      <li><a href="javascript:void(0)">5</a></li>
      <li><a href="javascript:void(0)">»</a></li>
    </ul>
  </div>
</div> <!-- Top Bar End -->