// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #212121;
$sidebar-activelinks: #D81B60;
$sidebar-background: #E0F7FA;
$navbar-background: #00BCD4;
$body-background: #E0F7FA;
$topbar-paginationcolor: #0097A7;

body {
  background: $body-background;
}

// ************** //
// NAVBAR STYLE   //
// ************** //

.navbar {
  margin-bottom: 0;
  background: $navbar-background;
}

.navbar-icons {
  padding: 15px !important;
  color: white !important;
}

.navbar-sidebartoggle {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.navbar-search {
  width: 300px !important;
}

.navbar-logo {
 padding-left: 0px !important;
 padding-right: 0px !important;
}

// links in drop menu in nav bar
.dropdown-menu>li>a {
  color: $black !important;
}

// ************** //
// TOPBAR STYLE   //
// ************** //

.pull-right>li>a {
  color: $topbar-paginationcolor;
}

.pull-right>li.active>a {
  background-color: $topbar-paginationcolor;
  border-color: $topbar-paginationcolor;
}

// ************** //
// SIDE BAR STYLE //
// ************** //

.active>a {
  color: $sidebar-activelinks;
  font-weight: bold;
}

.sidebar {
  background: $sidebar-background;
  height: 800px;
  z-index: 10;
}

// ************** //
// SELECT2 STYLE  //
// ************** //

.select2-choices {
  box-shadow: none !important;
  border: none !important;
}

.select2-input {
  padding: 0 !important;
}